{% extends 'page.html' %}

{% block content %}
    <h2 style="color: white; width: 100%">Submit a new template.</h2>
    <p style="color: white; width: 100%"> Please fill in the form below to submit a new template for our website.</p>
    <form method="post">
        {{ form.csrf_token }}
        <div class="form-group" style="width: 100%">
            {{ form.submitter_name(class_="form-control", placeholder="Your name") }}
            {% if form.submitter_name.errors %}
            {% for error in form.submitter_name.errors %}
            <span style="color: darkred;">{{ error }}</span>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group" style="width: 100%">
            {{ form.submitter_email(class_="form-control", placeholder="Your email address") }}
            {% if form.submitter_email.errors %}
            {% for error in form.submitter_email.errors %}
            <span style="color: darkred;">{{ error }}</span>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group" style="width: 100%">
            {{ form.target_name(class_="form-control", placeholder=form.target_name.description) }}
            {% if form.target_name.errors %}
            {% for error in form.target_name.errors %}
            <span style="color: darkred;">{{ error }}</span>
            {% endfor %}
            {% endif %}
        </div>

        <div class="form-group" style="width: 100%">
            {{ form.target_email(class_="form-control", placeholder=form.target_email.description) }}
            {% if form.target_email.errors %}
            {% for error in form.target_email.errors %}
            <span style="color: darkred;">{{ error }}</span>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group" style="width: 100%">
            {{ form.subject(class_="form-control", placeholder="Email subject") }}
            {% if form.subject.errors %}
            {% for error in form.subject.errors %}
            <span style="color: darkred;">{{ error }}</span>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group" style="width: 100%">
            {{ form.body(class_="form-control", placeholder=form.body.description) }}
            {% if form.body.errors %}
            {% for error in form.body.errors %}
            <span style="color: darkred;">{{ error }}</span>
            {% endfor %}
            {% endif %}
        </div>
        {% if form.recaptcha %}
        <div class="form-group" style="width: 100%">
            {{ form.recaptcha }}
            {% if form.recaptcha.errors %}
            {% for error in form.recaptcha.errors %}
            <span style="color: darkred;">{{ error }}</span>
            {% endfor %}
            {% endif %}
        </div>
        {% endif %}
        <div class="form-group" style="width: 100%">
            <button id="submit-template" type="submit" class="btn btn-dark">Submit template</button>
        </div>
    </form>




{% endblock %}
