{% extends 'page.html' %}

{% block content %}
<h3 style="color: white"> Inspiration </h3>
<p style="color: white">In the aftermath of the murder of George Floyd on May 25th 2020, many campaigns have been circulating templates for emails that individuals can use to express their anger at the role of UK institutions in perpetuating systemic racism - both through actions these institutions continue to take, and a perceived lack of action on efforts to tackle the UK's vast colonial legacies.
<br>
Inspired by the quick and widespread response of the Black Lives Matter movement, a group of students from 4 different UK Universities (Cambridge, Oxford, Southampton and York) came together and developed this web application to aid emailing representatives about these issues. 
<br>
The templates hosted here include campaigns to: ban the export of policing equipment to the US (used brutally against protestors), take action of the death of Belly Mujinga, and decolonise the UK history curriculum.
<br>
If you have any suggestions for other templates that may be useful for us to include, or would like to get involved in the development of the project, please do not hesitate to contact us using the email below.

<br>
Solidarity. Black Lives Matter.
<br>
Contact us: <a href="mailto:writeforchanges@gmail.com"> Our Email</a>
<br>
For further reading:
</p>
<a href="https://www.theguardian.com/books/booksblog/2020/jun/03/do-the-work-an-anti-racist-reading-list-layla-f-saad">Anti-racist reading list</a> <br>
<a href="https://www.independent.co.uk/life-style/black-lives-matter-protest-support-george-floyd-donate-petition-a9542576.html">Support the cause without attending protests</a> <br>
<a href="https://docs.google.com/spreadsheets/d/1x65xLdIUDWMUl4_nkuD-EeP98UuJ2nuknUDsqUm7R9s/htmlview?pru=AAABcq5d_7s*db1hNriSEDu1tv7lZB9uuw#">Activism Checklist</a><br>

{% endblock %}