{% extends 'page.html' %}

{% block content %}
<h3 style="color: white"> Inspiration </h3>
<p style="color: white">Inspired by the growing BLM movement after the murder of George Floyd on May 25th 2020, a group of students from 4 different Universities (Cambridge, Oxford, Southampton and York) came together and developed a web application to allow more people to show their displeasure to their representation in Parliament. We are outraged to find that the UK is not innocent and has been supplying the US Government with tear gas and rubber bullets and the current curriculum for UK school students is very colonialised. We'd like to see changes to these.
<br>
Contact us: <a href="mailto:writeforchanges@gmail.com"> Our Email</a>
<br>
For further reading:
</p>
<a href="https://www.theguardian.com/books/booksblog/2020/jun/03/do-the-work-an-anti-racist-reading-list-layla-f-saad">Anti-racist reading list</a> <br>
<a href="https://www.independent.co.uk/life-style/black-lives-matter-protest-support-george-floyd-donate-petition-a9542576.html">Support the cause without attending protests</a> <br>
<a href="https://docs.google.com/spreadsheets/d/1x65xLdIUDWMUl4_nkuD-EeP98UuJ2nuknUDsqUm7R9s/htmlview?pru=AAABcq5d_7s*db1hNriSEDu1tv7lZB9uuw#">Activism Checklist</a><br>

{% endblock %}