{% extends 'page.html' %}

{% block content %}
<h3 style="color: white;">Thank you for your patience.</h3>
<div style="">
	{% for e in emails %}
		<br>
		<h5 style="color: white;">RE: {{ e['subject'] }}</h5>
		<textarea disabled id="email{{loop.index}}" name="Email for {{ e['email'] }}" rows="20" style="width: 100%">
		{{ e['body'] }}
		</textarea>
		<!-- <button class="btn btn-dark" role="button" onclick="_{{ loop.index }}()">Send to {{ e['email'] }}</button> -->
		<a class="btn btn-dark mb-1" href="mailto:{{e['email']}}?subject={{e['subject_coded']}}&body={{e['body_coded']}}" role="button">Send to {{ e['email'] }}</a>
		<a class="btn btn-danger mb-1" target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to={{e['email']}}&su={{e['subject_coded']}}&body={{e['body_coded']}}" role="button">Send with Gmail</a>

		<a class="btn btn-primary mb-1" onclick="copy_compose('outlook', {{loop.index}}, '{{e['email']}}', '{{e['subject_coded']}}')" role="button">Send with Outlook</a>
		<a class="btn btn-info mb-1" onclick="copy_compose('yahoo', {{loop.index}}, '{{e['email']}}', '{{e['subject_coded']}}')"role="button">Send with Yahoo Mail</a>
	
		<br>
	{% endfor %}
</div>
<script type="text/javascript">

function copy_compose(client, index, to, subject) {

	var body = document.getElementById(`email${index}`);
	body.disabled = false;
	body.select();
  	//body.setSelectionRange(0, 99999);
  	document.execCommand("copy");
	body.disabled = true;

	switch (client) {
		case 'yahoo':
			window.open(`https://compose.mail.yahoo.com/?to=${to}&subject=${subject}&body=(The email has been copied to your clipboard. Paste it here.)`, '_blank');
			break;

		case 'outlook':
			window.open(`https://outlook.live.com/mail/deeplink/compose?to=${to}&subject=${subject}&body=(The email has been copied to your clipboard. Paste it here.)`, '_blank');
			break;
	}
}

{% for e in emails %}
// function _{{ loop.index }}() {
// 	var link = "mailto:{{e['email']}}?subject={{e['subject_coded']}}&body=" + document.getElementById("email{{loop.index}}").value;
// 	window.location.href = link;
// }
{% endfor %}
</script>
{% endblock %}
