{% extends 'page.html' %}

{% block content %}
<div id="content">
	<h2>Write to your MP.</h2>
	<p>We just need some information so we can generate an email for you. We'll never share your details with anyone else.</p>
	<form method="post">
		<div class="form-group" style="width: 100%">
			<input class="form-control" id="name" name="name" placeholder="Full Name">
		</div>
		<div class="form-group" style="width: 100%">
			<input class="form-control" id="Postcode" name="postcode" placeholder="UK Postcode only">
		</div>
		<div style="text-align: center; width: 100%">
			<button  type="submit" class="btn btn-dark">Generate the emails for me</button>
		</div>
	</form>
</div>




{% endblock %}