<!DOCTYPE html>
<html>
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-169333611-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-169333611-1');
</script>



	<style type="text/css">
		#bg-text {
			z-index: -1;
			opacity: 0.1;
			width: 100%;
			height: 100%;
			position: fixed;
			/* background-image: url("{{url_for('static', filename='Asset-1.svg')}}"); */
			background-size: cover;
			background-position: center;
		}
	</style>
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}"  type="text/css">
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
	<link rel="manifest" href="/static/icons/site.webmanifest">
	<link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/static/icons/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="/static/icons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="{{ url_for('static',filename='js/landing.js') }}"></script>

	<title>Write for Change - email your representative with ease.</title>
	<nav class="navbar navbar-light" style="background-color: #000000;">
  		<a class="navbar-brand" style="color:white; " href="/">Write For Change</a>
		<!-- <ul class="navbar-nav mr-auto" style="color: white;">
	  		<li style="color: white;" class="nav-item">
	  			ADD LINK FOR PAGE BELOW
	  			<a class="nav-link" style="color: white;" href="/">Have Your Say</a>
	  		</li>
	  	</ul> -->
<!-- 	  	<ul class="navbar-nav mr-auto" style="color: white;">
	  		<li style="color: white;" class="nav-item">
	  			ADD LINK FOR PAGE BELOW
	  			<a class="nav-link" style="color: white;" href="/register">About Us</a>
	  		</li>
	  	</ul> -->
	</nav>

</head>

<div style="margin: auto; width: 75%; padding: 10px">
		{% with messages = get_flashed_messages(with_categories=true) %}
		  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
		  {% if messages %}
		    {% for category, message in messages %}
		      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
		      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		      <!-- <strong>Title</strong> --> {{ message }}
		      </div>
		    {% endfor %}
		  {% endif %}
		{% endwith %}
</div>


<body>
<div id="bg-text"></div>
<link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}" type="text/css">
<div style="margin: auto; width: 85%; padding: 10px">

{% block content %}
{% endblock %}
</div>
<br>
<footer style="text-align: center;">
	<a href="{{ url_for('aboutus')}}">About us.</a>
	<br>
	<a href="mailto:writeforchanges@gmail.com?subject=Website%20Issue%3A&body=Issue%20Description%3A">Found an issue with the website? Report it here.</a>
	<br>
	<a data-toggle="modal" href="" data-target="#unsubChoiceModal">Unsubscribe from our mailing list</a>
</footer>
</body>



<div class="modal fade" id="unsubChoiceModal" tabindex="-1" role="dialog" aria-labelledby="unsubChoiceModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="unsubChoiceModalLabel">Unsubscribe</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<div>
				Consider subscribing to our newsletter to receive updates about new templates and upcoming features
			</div>
			  <div>
				  <label class="control-label">E-Mail Address</label>
				  <div>
					<input type="email" class="form-control" required name="email" id="email-input" data-placement='bottom' title='Please enter a valid email address' placeholder="example@domain.com">
				  </div>
			</div>
		</div>

		<div class="modal-footer">
			<button class="btn btn-warning mb-1" id="unsub-button" >Unsubscribe</button>
			<button class="btn btn-danger mb-1"  id="perm-delete-button">Permanently delete</button>
		</div>

	  </div>
	</div>
  </div>


  <div class="modal fade" id="unsubConfirmModal" tabindex="-1" role="dialog" aria-labelledby="unsubConfirmModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="unsubConfirmModalLabel">Unsubscribe</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<form id="unsub-confirm-form" style="display: none">
				<input type="text"   id="user-hash">
			</form>
			<div id="unsub-confirm-warning">

			</div>
		</div>

		<div class="modal-footer">
			<button class="btn btn-danger mb-1" form="unsub-confirm-form" id="unsub-confirm-button"></button>
			<button class="btn btn-success mb-1" data-dismiss="modal">Cancel</button>
		</div>

	  </div>
	</div>
  </div>

  <div class="modal fade" id="unknownUserModal" tabindex="-1" role="dialog" aria-labelledby="unknownUserModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="unknownUserModal">Unsubscribe</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<div>
				The email you have entered is not in our database, make sure you have entered it correctly.
			</div>
		</div>

		<div class="modal-footer">
			<button class="btn btn-primary mb-1" data-dismiss="modal">Ok</button>
		</div>

	  </div>
	</div>
  </div>

  <div class="modal fade" id="successfulUnsubModal" tabindex="-1" role="dialog" aria-labelledby="successfulUnsubModal" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="successfulUnsubModal">Unsubscribe</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<div id="successful-unsub-info">

			</div>
		</div>

		<div class="modal-footer">
			<button class="btn btn-primary mb-1" data-dismiss="modal">Ok</button>
		</div>

	  </div>
	</div>
  </div>

  <!--
	  Have a modal which asks between unsub and perm del. Have a listener on each button which runs a js func which depending on the button which called it will fill a
	  modal with an email form which will check for the existence of the email in the db. If email is in the db then another modal pops up telling that their mail is
	  in the db and will ask to confirm action.
   -->

   <script type="text/javascript">

   function checkEmail()
   {
	var email = document.getElementById('email-input');
	if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email.value))
	{
		return (true)
	}
	$('#email-input').tooltip('show');
    return (false)
   }

   function mailCheckSubmit(event)
   {
	   if ( checkEmail() == true)
	   {
		var target_id = event.target.id;
	   var request = new XMLHttpRequest();
	   request.addEventListener('load', mailCheckShow);
	   request.open('POST', {{ url_for('check_user_newsletter') | tojson}});
	   var form = new FormData();
	   form.append('email', document.getElementById('email-input').value)
	   form.append('action', target_id);
	   request.send(form);
	   }
   }

   function mailCheckShow()
   {
	   var response = JSON.parse(this.responseText);
	   $('#unsubChoiceModal').modal('hide');
	   if (response.status == 'success')
	   {
			document.getElementById('user-hash').value = response.user;
		   if (response.action == 'unsub-button')
		   {
			$('#unsub-confirm-warning').text('Are you sure you want to unsubscribe from our newsletter? This action is reversible.');
			$('#unsub-confirm-button').text('Unsubscribe');

			document.getElementById('unsub-confirm-form').addEventListener('submit', unsubscribe);
		   }

		   if (response.action == 'perm-delete-button')
		   {
			$('#unsub-confirm-warning').text('Are you sure you want to unsubscribe from our newsletter? This action is irreversible.');
			$('#unsub-confirm-button').text('Permanently delete');

			document.getElementById('unsub-confirm-form').addEventListener('submit', permanently_delete);
		   }
		   $('#unsubConfirmModal').modal('show');
	   }
	   else if (response.status == 'failed')
	   {
		   $('#unknownUserModal').modal('show');
	   }
   }

   function unsubscribe(ev)
   {
	document.getElementById('unsub-confirm-form').removeEventListener('submit', unsubscribe);
	ev.preventDefault();
	var request = new XMLHttpRequest();
	request.addEventListener('load', unsub_outcome);
	request.open('POST', {{url_for('unsubscribe_user_newsletter') | tojson}});
	var form = new FormData();
	form.append('user', document.getElementById('user-hash').value );
	request.send(form);
   }

   function permanently_delete(ev)
   {
	document.getElementById('unsub-confirm-form').removeEventListener('submit', permanently_delete);
	ev.preventDefault();
	var request = new XMLHttpRequest();
	request.addEventListener('load', perm_delete_outcome);
	request.open('POST', {{url_for('permanently_delete_user_newsletter') | tojson}});
	var form = new FormData();
	form.append('user', document.getElementById('user-hash').value );
	request.send(form);
   }

   function unsub_outcome()
   {
	$("#unsubConfirmModal").modal('hide');
	var response = JSON.parse(this.responseText);
	if (response.status == 'success')
	{
		$("#successful-unsub-info").text('You are no longer subscribed to our newsletter');
	}
	else if (response.status == 'failed')
	{
		$("#successful-unsub-info").text('There was a problem with removing your subscription, please try again later');
	}
	$('#successfulUnsubModal').modal('show');
   }

   function perm_delete_outcome()
   {
	$("#unsubConfirmModal").modal('hide');
	var response = JSON.parse(this.responseText);
	if (response.status == 'success')
	{
		$("#successful-unsub-info").text('We have successfully deleted your profile from our database');
	}
	else if (response.status == 'failed')
	{
		$("#successful-unsub-info").text('There was a problem with removing you from our database, please try again later');
	}
	$('#successfulUnsubModal').modal('show');

   }


	var unsub = document.getElementById('unsub-button');
	unsub.addEventListener('click', mailCheckSubmit);

	var perm_delete = document.getElementById('perm-delete-button');
	perm_delete.addEventListener('click', mailCheckSubmit);

   </script>

</html>
