body {
	margin: 0;
	min-height: 100vh;
	background-color:#333;
	background: -moz-radial-gradient(circle, rgba(85,85,85,1) 0%, rgba(34,34,34,1) 100%);
	background: -webkit-radial-gradient(circle, rgba(85,85,85,1) 0%, rgba(34,34,34,1) 100%);
	background: radial-gradient(circle, rgba(85,85,85,1) 0%, rgba(34,34,34,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#555555",endColorstr="#222222",GradientType=1);
	/*background-image: url(../scratch.png);*/
	background-position: center;
	background-size: cover;
	font-family: sans-serif;
}
/*nav {
	padding: 30px;
	top: 40px;
	right: 40px;
	font-family: sans-serif;
	font-size: 20px;
	float: right;
	margin: auto;
	background-color: #111;
	border-radius: 40px;
	color: white;
	transition: 0.2s;
	z-index: 1;
	font-weight: bold;
	display: flex;
}

nav:hover {
	background-color: #222;
}

.navbar-brand {
	margin-right: 0 !important;
	margin: 5px auto;
	padding: 30px;
}*/

#content {
	width: 400px;
	height: 420px;
	position: absolute;
	left: calc(50vw - 200px);
	top: calc(calc(100vh / 2) - 210px);
	background-color: #ddd;
	border-radius: 30px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5), -5px -5px 10px rgba(180,180,180,0.5);
}
#content h2 {
	text-color: #222;
	margin: 50px 0 30px;
	text-align: center;
	font-size: 24px;
}
#content p {
	width: 75%;
	margin: auto;
}
form {
	width: 75%;
	margin: 20px auto 50px;
	display: flex;
	flex-wrap: wrap;
}
.form-group input.form-control {
	padding: 20px 15px 25px;
	border: none;
	border-radius: 20px;
	font-size: 20px;
	display: inline-flex;
}
button[type=submit] {
	width: 100%;
	background-color: #FF8000;
	color: white;
	border: none;
	border-radius: 20px;
	font-size: 20px;
}

button[type=submit]:hover {
	background-color: #F34B00;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-weight: bold;
}

footer a {
	color: white;
}

footer a:hover {
	color: #FF8000;
}


/*@media only screen and (orientation: portrait) {
	.navbar {
		float: none;
		width: 50%;
		right: 0;
		margin: auto;
		text-align: center;
		position: static;
		margin-bottom: 20px;
	}
	.navbar-brand {
		width: 100%;
		left: 0;
	}
}*/